<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test application!{% endblock title %}</title>

        {% stylesheets
        'bundles/app/css/select2.css' filter="cssrewrite"
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">          
        
        {% block stylesheets %}{% endblock stylesheets %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="">
        <div class="bb-alert alert alert-info" style="display:none;">
            <span>The flash populate this alert with dummy content</span>
        </div>
        {% block header %}
          {{ include('::header.html.twig') }}
        {% endblock %}
        {% block modals %}
          {{ include('::modal/confirm.html.twig') }}
          {{ include('::modal/create_edit.html.twig') }}
        {% endblock modals %}
        
        {% block body %}{% endblock body %}
        {% block javascripts %}          
          {% javascripts
            '@AppBundle/Resources/public/js/jquery-1.11.3.min.js'
            '@AppBundle/Resources/public/js/jquery-ui.min.js'
            '@AppBundle/Resources/public/js/jquery.ui.widget.js'
            '@AppBundle/Resources/public/js/bootbox.min.js'
            '@AppBundle/Resources/public/js/select2.min.js'
            '@AppBundle/Resources/public/js/flash.js'
            '@AppBundle/Resources/public/js/main.js'
          %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
          {% endjavascripts %}
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
          <script>
            $(function () {
                Flash.init({
                    "selector": ".bb-alert"
                });
            });
          </script>
        {% endblock javascripts %}
    </body>
</html>
