<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{{ path('homepage') }}">Homepage</a></li>
      {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('admin_user_index') }}">Students</a></li>
        <li><a href="{{ path('admin_exam_result_index') }}">Exams</a></li>
      {% else %}  
        <li><a href="{{ path('user_index') }}">Students</a></li>
        <li><a href="{{ path('exam_index') }}">Exams</a></li>
      {% endif %}  
    </ul>  
    <ul class="nav navbar-nav navbar-right">
      {% if app.user is null %}
        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
      {% else %}
        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
      {% endif %}
    </ul>  
  </div>
</nav>
