<!-- Modal -->
<div class="modal fade" id="js-main-modal" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title js-modal-title">Modal title</h4>
      </div>
      <div class="modal-body js-modal-body">
      </div>
    </div>
  </div>
</div>