{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {% include 'user/new_form.html.twig' %}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
