{% extends 'base.html.twig' %}

{% block body %}
    <h1>User creation</h1>
    
    {% include 'user/new_form.html.twig' %}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
