{% from 'macro/tables.html.twig' import sortableTh  %}

{% if users|length %}

    <table class="table">
        <thead>
            <tr>
                {{ sortableTh('Id', 'id', 'user_index', '#table-students', orderBy, order) }}
                {{ sortableTh('Full Name', 'name', 'user_index', '#table-students', orderBy, order) }}
                {{ sortableTh('Date Of Birth', 'birth', 'user_index', '#table-students', orderBy, order) }}
                {% if is_granted('ROLE_ADMIN') %}   
                    <th>Actions</th>
                {% endif %}    
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'username': user.username }) }}">{{ user.id }}</a></td>
                <td><a href="{{ path('exam_result_by_user', { 'username': user.username, 'orderby' : orderBy, 'order' : order }) }}" class="js-user-exam">{{ user.fullName }}</a></td>
                <td>{% if user.dateOfBirth %}{{ user.dateOfBirth|date('d.m.Y.') }}{% endif %}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <ul class="list-unstyled">
                                <li>
                                    <button class="btn btn-primary js-show-modal" data-title="Edit student" data-url="{{ path('user_edit', { 'username': user.username, 'orderby' : orderBy, 'order' : order}) }}">Edit</button>
                                </li>
                                <li>
                                    <button data-href="{{ path('user_delete', { 'username': user.username, 'orderby' : orderBy, 'order' : order }) }}" class="btn btn-danger js-delete" data-title="Are you sure you want to delete student?" data-target="#table-students">Delete</button>
                                </li>
                            </ul>
                        </td>
                    {% endif %} 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
    {% if is_granted('ROLE_ADMIN') %}    
        <button class="btn btn-action js-show-modal" data-title="Create new student" data-url="{{ path('user_new', {'orderby' : orderBy, 'order' : order}) }}">Create a new student</button>
    {% endif %}
{% else %}  
  <p>There are no students</p>
{% endif %}  