{% macro sortableTh(label, input, fullPath, target, orderBy, order) %}
    <th> 
      <a href="{{ fullPath }}" class="js-ajax-order" data-target="{{ target }}">{{ label }} <i class="fa {{ getSortedOrderClass(orderBy, order, input)|raw }}" aria-hidden="true"></i></a>
    </th>
{% endmacro %}