{% macro sortableTh(label, input, pathName, target, orderBy, order) %}
    <th> 
      <a href="{{ path( pathName, { 'orderby': input, 'order': (orderBy == input and order == 'desc') ? 'asc' : 'desc' }) }}" class="js-ajax-order" data-target="{{ target }}">{{ label }} <i class="fa {{ getSortedOrderClass(orderBy, order, input)|raw }}" aria-hidden="true"></i></a>
    </th>
{% endmacro %}