{% extends "::base.html.twig" %}
{% block body %}
    <div class="container">
      <div class="row">
        {% block fos_user_content %}{% endblock fos_user_content %}
      </div>  
    </div>  
{% endblock body %}
