{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exam edit</h1>

    {% include 'exam_result/new_form.html.twig' %}

    <ul>
        <li>
            <a href="{{ path('exam_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    initAutocompleteExams();
    var examId = "{{ examResult.exam.id }}";
    var examName = "{{ examResult.exam.name }}";
    setDataToExamAutocomplete(examId, examName);
  </script>
{% endblock javascripts %}

