{% from 'macro/tables.html.twig' import sortableTh  %}

{% if exams|length %}
    <table class="table">
        <thead>
            <tr>
                {{ sortableTh('Id', 'id', 'exam_index', '#table-exams', orderBy, order) }}
                {{ sortableTh('Student', 'user', 'exam_index', '#table-exams', orderBy, order) }}
                {{ sortableTh('Exam date', 'examdate', 'exam_index', '#table-exams', orderBy, order) }}
                {{ sortableTh('Exam', 'exam', 'exam_index', '#table-exams', orderBy, order) }}
                {{ sortableTh('Mark', 'mark', 'exam_index', '#table-exams', orderBy, order) }}
                {% if is_granted('ROLE_ADMIN') %}
                  <th>Actions</th>
                {% endif %}  
            </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                <td><a href="{{ path('exam_result_show', { 'id': exam.id }) }}">{{ exam.id }}</a></td>
                <td><a href="{{ path('exam_result_by_user', { 'username': exam.user.username, 'orderby' : orderBy, 'order' : order }) }}" class="js-user-exam">{{ exam.user.fullName }}</a></td>
                <td>{% if exam.examDate %}{{ exam.examDate|date('d.m.Y. H:i') }}{% endif %}</td>
                <td><a href="{{ path('exam_result_by_exam', { 'id': exam.exam.id, 'orderby' : orderBy, 'order' : order }) }}" class="js-user-exam">{{ exam.exam }}</a></td>
                <td>{{ exam.examMark }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <button class="btn btn-primary js-show-modal" data-title="Edit student" data-url="{{ path('exam_result_edit', { 'id': exam.id, 'orderby' : orderBy, 'order' : order}) }}">Edit</button>
                            </li>
                            <li>
                                <button data-href="{{ path('exam_result_delete', { 'id': exam.id, 'orderby' : orderBy, 'order' : order }) }}" class="btn btn-danger js-delete" data-title="Are you sure you want to delete exam?" data-target="#table-exams">Delete</button>
                            </li>
                        </ul>
                    </td>
                {% endif %}    
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-action js-show-modal" data-title="Create new exam result" data-url="{{ path('exam_result_new', {'orderby' : orderBy, 'order' : order}) }}">Create a new exam result</button>
    {% endif %}
{% else %}  
  <p>There are no exams</p>
{% endif %}      
            