{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Exam list</h1>

        <div class="row table-responsive">
            <div id="table-exams">
              {% include 'exam_result/exam_table.html.twig' %}
            </div> 
            <div class="js-user-exam-holder" style="display: none"></div>
        </div>
    </div>
{% endblock %}
