{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exam creation</h1>

    {% include 'exam_result/new_form.html.twig' %}

    <ul>
        <li>
            <a href="{{ path('exam_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
