{% if isAjax %}
  {{ form_start(form, {'attr':{'class' : 'js-ajax-form', 'data-target' : '#table-exams'}, 'action' : submitPath}) }}
{% else %}
  {{ form_start(form, {'action' : submitPath}) }}
{% endif %}

    {{ form_widget(form) }}
    {% if app.request.attributes.get('_route') == 'exam_result_new' %}
        <input type="submit" class="btn btn-primary" value="Create" />
    {% else %}    
      <input type="submit" class="btn btn-primary" value="Update" />
    {% endif %}    
{{ form_end(form) }}