{% from 'macro/sub_tables.html.twig' import sortableTh  %}


{% if examResults|length %}
    <p>Exam: {{ exam }} has passed the following students:</p>

    <table class="table">
        <thead>
            <tr>
                {% set fullPath = path( 'exam_result_by_exam', { 'id' : exam.id, 'orderby': 'user', 'order': (orderBy == 'user' and order == 'desc') ? 'asc' : 'desc' }) %}
                {{ sortableTh('Student', 'user', fullPath, '.js-user-exam-holder', orderBy, order) }}
                {% set fullPath = path( 'exam_result_by_exam', { 'id' : exam.id, 'orderby': 'examdate', 'order': (orderBy == 'examdate' and order == 'desc') ? 'asc' : 'desc' }) %}
                {{ sortableTh('Exam date', 'examdate', fullPath, '.js-user-exam-holder', orderBy, order) }}
                {% set fullPath = path( 'exam_result_by_exam', { 'id' : exam.id, 'orderby': 'mark', 'order': (orderBy == 'mark' and order == 'desc') ? 'asc' : 'desc' }) %}
                {{ sortableTh('Mark', 'mark', fullPath, '.js-user-exam-holder', orderBy, order) }}
            </tr>
        </thead>
        <tbody>
        {% for examResult in examResults %}
            <tr>
                <td>{{ examResult.user }}</td>
                <td>{% if examResult.examDate %}{{ examResult.examDate|date('d.m.Y. H:i') }}{% endif %}</td>
                <td>{{ examResult.examMark }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}  
  <p>There is no data for exam: {{ exam }}</p>
{% endif %}