{% from 'macro/sub_tables.html.twig' import sortableTh  %}


    {% if examResults|length %}
        <p>Student: {{ user.fullName }} has passed the following exams:</p>

        <table class="table">
            <thead>
                <tr>
                    {% set fullPath = path( 'exam_result_by_user', { 'username' : user.username, 'orderby': 'exam', 'order': (orderBy == 'exam' and order == 'desc') ? 'asc' : 'desc' }) %}
                    {{ sortableTh('Exam', 'exam', fullPath, '.js-user-exam-holder', orderBy, order) }}
                    {% set fullPath = path( 'exam_result_by_user', { 'username' : user.username, 'orderby': 'examdate', 'order': (orderBy == 'examdate' and order == 'desc') ? 'asc' : 'desc' }) %}
                    {{ sortableTh('Exam date', 'examdate', fullPath, '.js-user-exam-holder', orderBy, order) }}
                    {% set fullPath = path( 'exam_result_by_user', { 'username' : user.username, 'orderby': 'mark', 'order': (orderBy == 'mark' and order == 'desc') ? 'asc' : 'desc' }) %}
                    {{ sortableTh('Mark', 'mark', fullPath, '.js-user-exam-holder', orderBy, order) }}
                </tr>
            </thead>
            <tbody>
            {% for examResult in examResults %}
                <tr>
                    <td>{{ examResult.exam }}</td>
                    <td>{% if examResult.examDate %}{{ examResult.examDate|date('d.m.Y. H:i') }}{% endif %}</td>
                    <td>{{ examResult.examMark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}  
      <p>There is no data for user {{ user.fullName }}</p>
    {% endif %}      
{#</div>#}